.hero {
    margin-top: 4rem;
    text-align: left;
    display: flex;

    .subheading {
        font-size: 0.9rem;
        color: var(--c-text-primary);
        letter-spacing: 1px;
    }

    h1 {
        font-size: 5rem;
        line-height: 1.2;
        margin: 1rem 0;
    }
}