.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(228, 228, 228);

    .logo {
        color: green;
        font-weight: bold;
        font-size: 2rem;
        color: var(--c-text-primary);
    }

    nav a {
        margin: 0 1rem;
        text-decoration: none;
        color: #444;
        font-weight: 500;
    }

    .get-demo {
        padding: 0.5rem 1rem;
        border-radius: 25px;
        background: black;
        color: white;
        border: none;
    }
}