.about-section {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}


.about-content {
    line-height: 35px;
}

.about-box h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: var(--accent-blue);
}

.about-box p,
.about-box ul {
    font-size: 1rem;
    line-height: 1.7;
    color: #555;
}

.about-box ul {
    padding-left: 20px;
}

.team-section {
    margin-top: 60px;
    text-align: center;
}

.team-section h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--accent-blue);
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.team-member {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    width: 240px;
    text-align: center;
}

.team-member h4 {
    margin: 15px 0 10px;
    font-size: 1.2rem;
    color: var(--accent-blue);
}

.team-member p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
}

.process-section {
    margin-top: 80px;
}

.process-section h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--accent-blue);
}

.process-title {
    background: tan;
    color: beige;
}

.process-steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    span {
        font-weight: bold;
    }
}

.step {
    background: #f8f8f8;

    p {
        margin-bottom: 0;
    }
}

.step h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--accent-blue);
}

.step p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #555;
}

.cta {
    text-align: center;
    margin-top: 70px;
}

.cta button {
    padding: 14px 28px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background: var(--accent-blue);
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease;
}

.cta button:hover {
    background: #000;
}