<ng-container [ngSwitch]="selectedTab">
    <app-on-boarding class="h-100" *ngSwitchCase="'onboarding'"></app-on-boarding>
    <app-overview *ngSwitchCase="'dashboard'"></app-overview>
    <app-scheduled *ngSwitchCase="'scheduled'"></app-scheduled>
    <app-welcome *ngSwitchCase="'welcome'"></app-welcome>
    <app-domains *ngSwitchCase="'domains'"></app-domains>
    <app-ob-services *ngSwitchCase="'services'"></app-ob-services>
    <app-payment *ngSwitchCase="'payment'"></app-payment>
    <div class="p-4" *ngSwitchCase="'invoicing'">
        <h3>Invoicing</h3>
        <p>Invoicing component will be available soon.</p>
    </div>
    <app-reminders *ngSwitchCase="'reminders'"></app-reminders>
    <app-billing-management *ngSwitchCase="'billing'"></app-billing-management>
    <app-scheduling-calander *ngSwitchCase="'scheduling-calendar'"></app-scheduling-calander>
    <app-dashboard-support *ngSwitchCase="'support'"></app-dashboard-support>
    <app-dashboard-designs *ngSwitchCase="'designs'"></app-dashboard-designs>
    <app-admin *ngSwitchCase="'admin'" (childTabs)="setChildTabs($any($event))" [subTab]="subTab"></app-admin>
    <app-admin-users (childTabs)="setChildTabs($any($event))" [subTab]="subTab" class="h-100"
        *ngSwitchCase="'users'"></app-admin-users>
    <app-admin-task (childTabs)="setChildTabs($any($event))" [subTab]="subTab"
        *ngSwitchCase="'adminTasks'"></app-admin-task>
    <app-admin-wiki (childTabs)="setChildTabs($any($event))" [subTab]="subTab"
        (subTabChange)="onSetSubTab($any($event))" *ngSwitchCase="'adminWiki'"></app-admin-wiki>
    <app-admin-stripe class="h-100" (childTabs)="setChildTabs($any($event))" [subTab]="subTab"
        (subTabChange)="onSetSubTab($any($event))" *ngSwitchCase="'adminStripe'"></app-admin-stripe>

    <!--Admin Landing Editor Options-->
    <app-admin-landing-editor (childTabs)="setChildTabs($any($event))" *ngSwitchCase="'adminLandingEditor'"
        [subTab]="subTab"></app-admin-landing-editor>
    <app-landing-editor *ngSwitchCase="'landingEditor'"></app-landing-editor>
    <app-addons-editor *ngSwitchCase="'addOnsEditor'"></app-addons-editor>
    <app-service-plans-editor *ngSwitchCase="'servicePlansEditor'"></app-service-plans-editor>
    <app-call-to-action-editor *ngSwitchCase="'callToActionEditor'"></app-call-to-action-editor>
</ng-container>