<ng-container [ngSwitch]="selectedTab">
    <app-on-boarding class="h-100" *ngSwitchCase="'onboarding'"></app-on-boarding>
    <app-overview *ngSwitchCase="'dashboard'"></app-overview>
    <app-scheduled *ngSwitchCase="'scheduled'"></app-scheduled>
    <app-welcome *ngSwitchCase="'welcome'"></app-welcome>
    <app-domains *ngSwitchCase="'domains'"></app-domains>
    <app-ob-services *ngSwitchCase="'services'"></app-ob-services>
    <app-payment *ngSwitchCase="'payment'"></app-payment>
    <app-invoicing *ngSwitchCase="'invoicing'"></app-invoicing>
    <app-reminders *ngSwitchCase="'reminders'"></app-reminders>
    <app-payment-section *ngSwitchCase="'billing'"></app-payment-section>
    <app-scheduling-calander *ngSwitchCase="'scheduling-calendar'"></app-scheduling-calander>
    <app-dashboard-support *ngSwitchCase="'support'"></app-dashboard-support>
    <app-dashboard-designs *ngSwitchCase="'designs'"></app-dashboard-designs>
    <app-admin *ngSwitchCase="'admin'"></app-admin>
    <app-admin-users class="h-100" [selectedTab]="subTab" *ngSwitchCase="'users'"></app-admin-users>
    <app-admin-billing *ngSwitchCase="'adminBilling'"></app-admin-billing>
    <app-admin-task *ngSwitchCase="'adminTasks'"></app-admin-task>
    <app-admin-wiki *ngSwitchCase="'adminWiki'"></app-admin-wiki>
    <app-admin-sites class="h-100" [(selectedTab)]=" subTab" (selectedTabChange)="onSetSubTab($any($event))"
        *ngSwitchCase="'adminSites'"></app-admin-sites>
</ng-container>