<div class="about-container align-content-center p-5 d-flex">
    <div class="row my-5 container">
        <div class="col-6">

        </div>
        <div class="col-6">
            <h1>About US</h1>
            <p class="fw-bold">Who we are text</p>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, perspiciatis quae facere
                temporibus
                doloribus rem itaque, non voluptates laudantium, perferendis facilis? Culpa, quidem incidunt laboriosam
                ad tenetur at illo corporis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque
                dignissimos fugiat nesciunt cumque esse pariatur similique officia, sunt qui molestiae. Nisi mollitia
                asperiores hic impedit. Tenetur natus vitae inventore atque? Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Perferendis tempora quo quam alias consequuntur asperiores voluptas voluptatum amet
                velit, quasi rerum delectus quis ut, dolorem corrupti cumque dicta. Quis, eius!</p>
        </div>
    </div>
</div>
<div class="offers-container align-content-center p-5 d-flex">
    <div class="row my-5 container">
        <div class="col-6">
            <h1>About US</h1>
            <p class="fw-bold">Who we are text</p>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, perspiciatis quae facere
                temporibus
                doloribus rem itaque, non voluptates laudantium, perferendis facilis? Culpa, quidem incidunt laboriosam
                ad tenetur at illo corporis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque
                dignissimos fugiat nesciunt cumque esse pariatur similique officia, sunt qui molestiae. Nisi mollitia
                asperiores hic impedit. Tenetur natus vitae inventore atque? Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Perferendis tempora quo quam alias consequuntur asperiores voluptas voluptatum amet
                velit, quasi rerum delectus quis ut, dolorem corrupti cumque dicta. Quis, eius!</p>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>