.service-page {
    background-color: rgb(39, 39, 39);
    color: white;
    width: 100vw;
}

h1 {
    font-size: clamp(28px, 16px + 3vw, 200px);
}

.card {
    min-height: 400px;
    background-color: rgb(60 60 60);

    &:hover {
        transform: scale(1.1);
        transition: 1s ease-in-out;
    }
}

.card-container {
    width: 1200px;
}

.action-button {
    padding: 2rem;
    color: white;

    .inside-button {
        background-color: red;
        border: green;
    }
}