<div class="services-selection py-5">
    <div class="mb-5">
        <h2 class="text-tan">Choose Your Business Services</h2>
        <p>At Pixel & Post, we know that every business is at a different stage of its growth journey — which is why
            we’ve built
            flexible packages designed to meet you exactly where you are. Whether you’re just getting started and need
            the
            essentials to make your brand feel professional, or you’re ready to scale with a strong digital and print
            presence, or
            you’re looking for a comprehensive strategy that unifies every touchpoint of your brand, we’ve got you
            covered. Each
            plan was carefully crafted to remove the guesswork and help you focus on what matters most: connecting with
            your
            customers.
            Our Starter package is perfect for new businesses that need a strong foundation — giving you a clean logo, a
            polished
            one-page website, and the must-have branding tools that will help you look professional and trustworthy
            right from day
            one.
            Our Growth package takes things further, offering both digital and print solutions that ensure your business
            looks
            consistent online and offline. From multi-page websites and full brand kits to social media profiles and
            ready-to-go
            marketing materials, this plan is designed to help small businesses step confidently into a bigger market.
            Finally, our Pro package is the all-in solution for businesses that want to dominate their space and create
            lasting
            impressions. With a complete brand book, advanced web development, multi-platform marketing, premium print
            assets, and
            powerful integrations like SEO, analytics, and e-commerce — this plan ensures your brand not only looks
            incredible but
            also drives measurable results.
            No matter which package you choose, our team will walk alongside you every step of the way — helping you
            unlock your
            full potential, attract the right customers, and create a presence that truly represents your vision. When
            you’re ready
            to elevate your brand, choose the plan that best fits your current stage — and let us bring your ideas to
            life.</p>
    </div>
    <section class="purchase" id="buy-now">
        <ul class="p-0 d-flex">
            <div class="p-lg-3" *ngFor="let option of pixelPostPackages">
                <li class="border item" [class.active]="option.name === selectedService?.name">
                    <a (click)="selectPackage(option.name)"
                        class="p-4 purchase-option d-flex flex-column align-items-center justify-content-between"
                        [class.selected]="selectedPackageName === option.name">
                        <div>
                            <strong>{{ option.name }}</strong>
                            <ul class="d-block">
                                <li *ngFor="let desc of option.includes">{{ desc }}</li>
                            </ul>
                        </div>
                        <div class="w-100">
                            <span class="purchase-price">{{ option.price }}</span>
                            <ng-container *ngIf="option.name === selectedService?.name; else selectedPlan">
                                <span class="purchase-button justify-content-between d-flex">Plan selected<i
                                        class="fa fa-check ms-2"></i></span>
                            </ng-container>
                            <ng-template #selectedPlan>
                                <span class="purchase-button">Select Plan</span>
                            </ng-template>
                        </div>
                    </a>
                </li>
            </div>
        </ul>
        <!--Addional Options -->
        <div *ngIf="selectedService" class="mt-5">
            <div class="row mt-4 justify-content-center">
                <div *ngIf="selectedService.optionalAddOns?.length">
                    <h5 class="text-start text-tan">Add-ons for {{ selectedService.name }}</h5>
                    <p class="text-white text-start my-4">
                        Enhance your package with our flexible add-on options. Select any additional services below to
                        further customize
                        your plan and ensure your business has everything it needs to succeed. Each add-on is designed
                        to complement your
                        chosen package, giving you the freedom to build a solution that fits your unique goals and
                        growth stage.
                    </p>
                    <div class="d-flex mb-3 gap-3">
                        <button class="button-confirm p-3"
                            [class.active]="selectedAddOns.length === selectedService.optionalAddOns.length"
                            (click)="selectAllAddOns()">Confirm All <i
                                *ngIf="selectedAddOns.length === selectedService.optionalAddOns.length"
                                class="fa fa-check ms-2"></i> </button>
                        <button class="button-confirm p-3" [class.active]="selectedAddOns.length === 0"
                            (click)="deselectAllAddOns()">Decline All<i *ngIf="selectedAddOns.length === 0"
                                class="fa fa-check ms-2"></i></button>
                    </div>
                    <ul class="d-flex p-0 row row-cols-4">
                        <div class="p-lg-3" *ngFor="let addon of selectedService.optionalAddOns">
                            <li class="border item addons" [class.active]="selectedAddOns.includes(addon.label)">
                                <a (click)="toggleAddOn(addon.label)"
                                    class="p-4 purchase-option d-flex flex-column align-items-center justify-content-between"
                                    [class.selected]="selectedAddOns.includes(addon.label)">
                                    <div>
                                        <strong class="addons">{{ addon.label }}</strong>
                                        <div class="small text-white mb-5">{{ addon.description }}</div>
                                    </div>
                                    <div class="w-100">
                                        <span class="purchase-price addons">{{ addon.price }}</span>
                                        <ng-container *ngIf="selectedAddOns.includes(addon.label); else selectedPlan">
                                            <span class="purchase-button justify-content-between d-flex">Plan selected
                                                <i class="fa fa-check ms-2"></i></span>
                                        </ng-container>
                                        <ng-template #selectedPlan>
                                            <span class="purchase-button">Select Plan</span>
                                        </ng-template>
                                    </div>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>