.addon {
    cursor: pointer;
    user-select: none;
    position: relative;

    .addon-title {
        color: var(--c-text-secondary);
    }
}

.selected-addon {
    box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2) !important;
    background: #5a83b5 !important;
    color: white !important;
    position: relative;
    border: 3px solid #8cb7eb !important;

    .addon-title {
        color: white !important;
    }

    i {
        color: tan !important;
    }
}

.addon-price {
    font-size: 2rem;
    letter-spacing: 2px;
    display: block;
    font-weight: 400;
    padding-bottom: 12px;
}


a {
    text-decoration: none;
}

.sub-text {
    font-size: 0.8rem;
    background-color: #5a83b5;
}

.purchase h1 {
    font-size: 26px;
    letter-spacing: 3px;
    line-height: 40px;
    text-transform: uppercase;
}

.purchase-trigger {
    margin-top: 50px;
    border: 1px solid #E85700;
    border-radius: 50px;
    font-size: 26px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.purchase-trigger * {
    -webkit-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
    -moz-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
    -o-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
    transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);

    -webkit-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
    -moz-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
    -o-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
    transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.purchase-trigger.right .bubble {
    margin-left: 246px;
}

.purchase-trigger:not(.right) .annual {
    color: #fff;
}

.purchase-trigger.right .monthly {
    color: #fff;
}

.purchase ul {
    display: flex;
    align-items: stretch;
}

.purchase li {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 220px;
    min-height: 100%;
    position: relative;
    z-index: 0;
    list-style: none;

    li {
        display: list-item !important;
        list-style: circle;
        padding-bottom: 1rem;
    }

    &:first-child {
        position: relative;
        right: -1px;
    }

    &:last-child {
        position: relative;
        left: -1px;
    }
}

.purchase-option {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.purchase .item.active {
    box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #fff;
    background: #5a83b5;
    border-color: white;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;

    &.addons {
        background: #5a83b521;
        border: 5px solid #5a83b5 !important;
        font-size: 1rem;
        line-height: normal;
        letter-spacing: normal;
    }
}

.purchase li * {
    -webkit-transition: 0 !important;
    -moz-transition: 0 !important;
    -o-transition: 0 !important;
    transition: 0 !important;
}


.purchase li strong {
    font-size: 19px;
    text-transform: uppercase;
    color: tan;
    letter-spacing: 2.4px;
    line-height: 45px;
    font-weight: 400;
    margin-bottom: 25px;
    display: inline-block;

    &.addons {
        font-size: 1rem;
        line-height: normal;
        letter-spacing: normal;
    }
}

.purchase ul .purchase-description {
    display: block;
    font-size: 19px;
    line-height: 30px;
}

.purchase .purchase-price {
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 20px;
    display: block;
    font-weight: 400;
    padding-bottom: 12px;

    &.addons {
        font-size: 2rem;
    }
}

.purchase .purchase-button {
    text-transform: uppercase;
    font-size: 19px;
    color: tan;
    text-decoration: none;
    line-height: 1;
    padding: 28px 0 24px;
    border-top: 1px solid #bbb;
    width: 100%;
    display: inline-block;
    margin-top: 6px;
    display: block;
}

.purchase-button {
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
}

.button-confirm {
    border: 1px solid white;
    background-color: transparent;
    color: white;

    &.active {
        background-color: #5a83b5;
        color: white;

        i {
            color: tan;
        }
    }
}