<div class="h-100 d-flex justify-content-between landing-body p-5">
    <!-- header -->
    <div class="d-flex justify-content-between align-items-center w-100 text-white">
        <span></span>
        <ul class="p-0 d-flex opacity-50">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <h1>Logo</h1>
    </div>
    <!-- main -->
    <div class="d-flex justify-content-start text-white">
        <div>
            <p class="m-0 fw-lighter"><span class="fw-bold">Pixel</span> & Post</p>
            <h1 class="title">Your Brand. Our Craft.</h1>
            <p class="col-md-6 opacity-50">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse corporis
                modi similique
                repellat
                voluptatibus consectetur natus, blanditiis recusandae soluta, ipsa consequuntur repudiandae vel qui
                temporibus molestiae quidem ipsam hic cumque?</p>
            <button class="consoltation-button py-3">Request Consoltation</button>
        </div>
    </div>
    <!-- Footer -->
    <ul class="d-flex justify-content-start w-100 text-white p-3 m-0">
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-instagram"></i></li>
        <li><i class="fa fa-linkedin"></i></li>
    </ul>
</div>