<div class="contact-container p-5 d-flex justify-content-center" style="gap:2rem;">
    <form class="col-6">
        <div class="row">
            <div class="col-6 mb-3">
                <div class="bg-transparent border">
                    <input class="p-3 w-100" type="text" id="name" name="name" placeholder="Name" required>
                </div>
            </div>
            <div class="col-6 mb-3">
                <div class="bg-transparent border">
                    <input class="p-3 w-100" type="tel" id="phone" name="phone" placeholder="Phone">
                </div>
            </div>
            <div class="col-6 mb-3">
                <div class="bg-transparent border">
                    <input class="p-3 w-100" type="email" id="email" name="email" placeholder="Email" required>
                </div>
            </div>
            <div class="col-6 mb-3">
                <div class="bg-transparent border">
                    <input class="p-3 w-100" type="text" id="company" name="company" placeholder="Company">
                </div>
            </div>
        </div>
        <div class="mb-3 w-100">
            <textarea class="bg-transparent border w-100 p-3" id="message" name="message" rows="4" required></textarea>
        </div>
        <button type="submit" class="contact-button w-100">Send Message</button>
    </form>
</div>