<section class="p-5 pt-0">
    <div appAnimateOnScroll animationClass="fade-up"
        class="section-wrapper call-to-action py-5 text-center c2a rounded p-5">
        <div class="container p-0 p-lg-5">
            <h2 appAnimateOnScroll animationClass="fade-up" class="mb-4 text-white">Ready to Build Your Brand?</h2>
            <hr class="my-3 mx-auto text-white" style="width:200px;">
            <p appAnimateOnScroll animationClass="fade-up" class="pb-3 text-white space-lines"
                style="transition-delay: 0.2s;">Pixel & Post helps local businesses and solo founders launch fast, look
                credible, be found, and grow smart. Complete brand kits, high-converting websites, and ongoing digital
                marketing support—delivered with no agency fluff and real results.</p>
            <button appAnimateOnScroll animationClass="fade-up" class="bg-tan px-5 p-3 mb-5"
                style="transition-delay: 0.4s;">Start Your
                Project</button>
        </div>
    </div>
</section>