<section class="p-5 pt-0">
    <div appAnimateOnScroll animationClass="fade-up"
        class="section-wrapper call-to-action py-5 text-center c2a rounded p-5">
        <div class="container p-0 p-lg-5">
            <h2 appAnimateOnScroll animationClass="fade-up" class="mb-4 text-white">Ready to Build Your Brand?</h2>
            <hr class="my-3 mx-auto text-white" style="width:200px;">
            <p appAnimateOnScroll animationClass="fade-up" class="pb-3 text-white space-lines"
                style="transition-delay: 0.2s;">Pixel & Post turns ideas into clean, fast, conversion-ready brands and
                websites. No agency fluff: one-time build,
                optional light monthly support, and per-post content when you need it. Ready to build your brand? Hit
                Start Your Project
                and let’s launch something people remember.</p>
            <button appAnimateOnScroll animationClass="fade-up" (click)="showContactForm()" class="px-5 p-3 mb-5"
                style="transition-delay: 0.4s;">Start Your
                Project</button>
        </div>
    </div>
</section>