<div class="w-100 justify-content-between d-flex px-5 py-3 footer">
    <!-- copyrite-->
    <p class="text-center text-white opacity-50 m-0">© 2023 Kndl Inc. All rights reserved.</p>
    <!-- additional links -->
    <ul class="d-flex justify-content-center p-0 m-0">
        <li class="mx-2"><a href="/privacy-policy">Privacy Policy</a></li>
        <li class="mx-2"><a href="/terms-of-service">Termsof Service</a></li>
        <li class="mx-2"><a href="/contact">Contact Us</a></li>
    </ul>
</div>