<section class="hero pt-5 h-100">
    <div appAnimateOnScroll animationClass="fade-up"
        class="section-wrapper h-100 call-to-action py-5 c2a rounded justify-content-between d-flex flex-column">
        <div class="container p-5 justi">
            <div class="col-8 fw-lighter">
                <h1 class="text-white">Welcome <span appAnimateOnScroll animationClass="fade"
                        class="text-tan">Home</span>
                </h1>
                <hr class="mt-4 mb-5 text-white border-5" style="width:200px;">

                <h5 class="subheading">Welcome to Pixel & Post!</h5>
                <p class="text-white-50">Pixel & Post helps small businesses stand out with modern design, websites,
                    and branding.</p>
            </div>
            <h2 appAnimateOnScroll animationClass="fade-up" class="mb-4 text-white">Ready to Build Your Brand?</h2>
            <hr class="my-3 text-white" style="width:200px;">
            <p appAnimateOnScroll animationClass="fade-up" class="pb-3 text-white space-lines"
                style="transition-delay: 0.2s;">Getting started is simple: you'll select the package that best fits
                your
                needs,
                choose any additional services you want, and we'll handle the rest. Our streamlined
                process covers everything from brand design and website development to social media
                setup and print materials.<br><br>
                Ready to get started? Let's find the perfect package for your business!</p>

        </div>
        <button appAnimateOnScroll animationClass="fade-up" (click)="startProject()"
            class="px-5 rounded bg-tan text-beige p-3" style="transition-delay: 0.4s;">Start Your
            Project</button>
    </div>
</section>