<div class="top-view p-5" [class.scrolled]="scrolled" [class.d-flex]="scrolled">
    <h1 class="title-absolute-center text-center" [class.w-100]="!scrolled" [class.scrolled]="scrolled">Pixels & Post
        <span class="owner">KNDL</span>
    </h1>
    <div class="nav-content d-flex align-items-center justify-content-between position-relative"
        [class.scrolled]="scrolled">
        <div class="rounded bg-body-secondary overflow-hidden">
            <ul class="d-flex m-0 p-0">
                <li>Service</li>
                <li>Pricing</li>
                <li>About</li>
                <li>Insights</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="d-flex">
            <button class="bg-transparent border-0 me-3">Login</button>
            <button class="rounded border-0 px-3 get-started">Get Started <i
                    class="fa fa-arrow-right ps-2"></i></button>
        </div>
    </div>
</div>