.home-body {
    width: calc(100% - 100px); // Adjust width to account for the
    margin-left: 100px; // Offset for the side navigation bar
    height: 100vh; // Full viewport height
    overflow-y: auto; // Allow scrolling if content overflows
    position: relative; // Ensure proper stacking context
    color: rgba(255, 255, 255, 0.682);
}

.overflow {
    background-color: rgb(19 20 25 / 94%);
}